<%- include('../_layouts/adminHeader'); %>

<div class="col-md-4"></div>
<div class="col-md-4">
   <h4>Index Admin Home</h4>

   <p>Esta la pagina principal del Administrador</p>
</div>

<%- include('../_layouts/adminFooter'); %>